/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.testing
.env.production
dot-env.txt
.phpunit.result.cache

docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

*.patch
dist/
*.log
.idea/
TEST*.xml
.DS_Store
*.app
*.exe
*.war

*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

composer.lock

storage/app/s3
storage/framework/views
storage/framework/*
storage/uploads
storage/uploads/
storage/uploads/*
storage/app/purifier
storage/app/public
storage/logs
storage/debugbar
storage/*.pem

bootstrap/cache/services.php
bootstrap/cache/*

.swp
.*.swp
*.vim
*.txt
*.tgz
*.gz
*.swo

yarn.lock

__MACOSX
